{% extends "global/Page.html" %}

{% block title %}游戏 2： 进行中{% endblock %}

{% block content %}

<style>
    .otree-form-errors {
        display: none;  /* 隐藏整个错误消息的容器 */
    }
    .form-control-errors {
        display: none; /* 默认隐藏错误消息 */
    }
</style>
<style>
    /* 确保按钮垂直排列 */
    .button-container {
        display: flex;
        flex-direction: column; /* 垂直排列按钮 */
        gap: 15px; /* 按钮间距 */
        margin-right: 5px; /* 右侧间距 */
        width: 50%;
    }

    .button-container button {
        width: 15%; /* 按钮宽度适应容器 */
        font-size: 17px;
    }

    /* 容器样式 */
    .form-container {
        width: 100%;
        display: flex;
        align-items: top; /* 垂直居中对齐 */
    }

    /* 设置 radio 按钮和文本标签在同一行显示 */
    .radio-option {
        display: flex;
        align-items: center;
        
    }

    /* 调整 radio 按钮的大小 */
    .radio-option input[type="radio"] {
        transform: scale(1.3); /* 1.2 倍大小 */
        margin-right: 10px; /* 按钮和文字间的间距 */
    }
</style>

    <p style="font-size: 25px">第 {{ round_number }} 局，第 {{ open_number }} 轮</p>

    <h1></h1>
    <table style="width: 70%; border-collapse: collapse; text-align: center;">
        <tr>
            <th style="border: 1px solid black; padding: 8px; width: 10%; background-color: lightgray">轮次</th>
            {% for i in attempt_numbers %}
                {% if i < open_number %}
                <th style="border: 1px solid black; padding: 8px; width: 10%; background-color: lightgray;">
                    {{ i }}
                </th>
            {% elif i == open_number %}
                <th style="border: 1px solid black; padding: 8px; width: 10%; background-color: lightsteelblue;">
                    {{ i }}
                </th>
            {% else %}
                <th style="border: 1px solid black; padding: 8px; width: 10%;">
                    {{ i }}
            </th>
            {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th style="border: 1px solid black; padding: 8px; width: 10%;">结果</th>
            {% for coin in coins %}
                <td style="border: 1px solid black; padding: 10px; width: 10%;">
                    {% if coin == 'Gold' %}
                        <img src="{{ static 'img/gold.png' }}" alt="Gold" style="height: 40px;">
                    {% elif coin == 'Silver' %}
                        <img src="{{ static 'img/silver.png' }}" alt="Silver" style="height: 40px;">
                    {% elif coin == 'Copper' %}
                        <img src="{{ static 'img/copper.png' }}" alt="Copper" style="height: 40px;">
                    {% endif %}
                </td>
            {% endfor %}
            {% for _ in empty_cells %}
                <td style="border: 1px solid black; padding: 8px; width: 10%;"></td>
            {% endfor %}
        </tr>
    </table>
    <br>
    <div class="form-container">
        <div class="button-container">
            <p style="margin-bottom: 0px;">请选择一个选项，然后点击确认</p>
            <form method="post" id="gameForm">
                {{ formfield_errors 'guess' }} 
                
                <div class="radio-option">
                    <input type="radio" id="magic" name="guess" value="偏白箱">
                    <label for="magic">A. 这是偏白箱</label>
                </div>
    
                <div class="radio-option">
                    <input type="radio" id="mundane" name="guess" value="偏黑箱">
                    <label for="mundane">B. 这是偏黑箱</label>
                </div>
    
                {% if show_wait_button %}
                    <div class="radio-option">
                        <input type="radio" id="wait" name="guess" value="">
                        <label for="wait">C. 暂不判断，进入下一轮</label>
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary" id="confirm-button" disabled>确认</button>
            </form>
        </div>
    
        <img src="{{ static 'img/concept2.png' }}" style="height: 200px; display: block; margin-left: 27px;"/>
    </div>
    
    <script>
        // 禁用确认提交按钮
        document.getElementById('confirm-button').disabled = true;
    
        // 监听选项选择变化事件
        document.querySelectorAll('input[name="guess"]').forEach((input) => {
            input.addEventListener('change', function() {
                document.getElementById('confirm-button').disabled = false; // 启用确认提交按钮
            });
        });
    
        // 防止重复提交
        let formSubmitted = false;
    
        document.getElementById('gameForm').addEventListener('submit', function(event) {
            if (formSubmitted) {
                event.preventDefault();
                return;
            }
            
            formSubmitted = true;
            document.getElementById('confirm-button').disabled = true;  // 禁用确认按钮，防止重复提交
        });
    </script>
    
{% endblock %}